<%- include('partials/header'); -%>

<div class="background">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">About</h1>
            <p class="text-white"> Know more about me. </p>
            <a href="/contact"><input type="submit" class="btn btn-primary" value="Contact Me"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center">
        <h2 class="section-title mb-3 text-center">Fadhel Kaboub</h2>
        <p>Bio</p>
      </div>
      <div class="col-md-12">
        <p>Dr. Fadhel Kaboub is Assistant Professor of economics at Denison University (OH) and Research Associate at the John F. Kennedy School of Government at Harvard University (MA), Levy Economics Institute of Bard College (NY), the Center for
          Full Employment and Price Stability (MO), and the International Economic Policy Institute (Ontario, Canada). He has taught at Drew University (NJ), where he was also co-director of the Wall Street Semester Program; the University of
          Missouri–Kansas City (UMKC); and Bard College at Simon’s Rock (MA).</p>
        <br>
        <p>Dr. Kaboub’s research is in the Post Keynesian and Institutionalist tradition in the fields of macroeconomic theory and policy, monetary theory and policy, and economic development, with a particular emphasis on job creation programs and
          social justice through full employment. His recent work focuses on the Political Economy of the Uprisings in the Middle East.</p>
        <br>
        <img src="images/kaboub/kaboub-1.jpeg" class="rounded-20 mb-5 mx-auto d-block" alt="Kaboub Image" style="height: 350px; width: auto;">
        <p>Dr. Kaboub's regional expertise is on the economies of the United States and the Middle East and North Africa (especially Tunisia). His work has been published in the Journal of Economic Issues, Review of Radical Political Economics,
          Review of Social Economy, International Journal of Political Economy, and International Labour Review. He is also a regular contributor to the social justice column published by Street Speech, a newspaper of the Columbus Coalition for the
          Homeless.</p>
        <br>
        <p>He has been a member of the editorial board of the Review of Radical Political Economics since 2006, and has been the book review editor of the Heterodox Economics Newsletter since 2007.</p>
        <br>
        <img src="images/kaboub/kaboub-2.jpeg" class="rounded-20 mb-5 mx-auto d-block" alt="Kaboub Image" style="height: 350px; width: auto;">
        <p>Dr. Kaboub is the program coordinator of the Denison Volunteer Dollars (DVD) program, which has provided more than 1,700 hours of community service since September 2008. He is the recipient of the DCA Faculty and Staff Commitment to
          Service Award (April 2011), and is the 2011-2012 Bartlett Family Pre-Tenure Fellow.</p>
        <br>
        <p>Dr. Kaboub enjoys listening to music, playing chess, hiking, and traveling. He lives in Granville with his wife Rana.</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section" style="padding: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="owl-single dots-absolute owl-carousel">
          <img src="images/kaboub/kaboub-3.jpeg" alt="Kaboub" class="img-fluid mb-5 rounded-20">
        </div>
      </div> 
      <div class="col-lg-5 pl-lg-5 ml-auto">
        <h2 class="section-title mb-4">Education - Degree(s)</h2>
        <ul class="list-styled clearfix">
          <li>Ph.D. in Economics & Social Science Consortium, 2006, University of Missouri - Kansas City.</li>
          <li>M.A. in Economics, May 2001, University of Missouri - Kansas City.</li>
          <li>B.S. in Economics, June 1999, with Distinction. Emphasis: Money & Banking, Faculté des</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="py-5 cta-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-2 text-white">Contact</h2>
        <p class="mb-4 lead text-white text-white-opacity">Let's Connect! Reach out to me</p>
        <p class="mb-0"><a href="/contact" class="btn btn-outline-white text-white btn-md font-weight-bold">Click Here</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
