<%- include('partials/header'); -%>
<div class="background">
  <div class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12" style="text-align: center">
          <div class="intro-wrap">
            <h1 class="mb-5"><span class="d-block">Fadhel Kaboub</span><span class="typed-words"></span></h1>
          </div>
          <a href="/contact"><input type="submit" class="btn btn-primary" value="Contact Me"></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="untree_co-section" style="padding-top: 0px;">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-6 text-center">
        <p>Short Bio</p>
        <h2 class="section-title text-center mb-3">Fadhel Kaboub</h2>
      </div>
    </div>
    <div class="row align-items-stretch justify-content-center">
      <div class="col-lg-4 order-lg-1">
        <div class="h-100">
          <div class="frame h-100">
            <div class="feature-img-bg h-100" style="background-image: url('images/kaboub/Kaboub-formal.JPG');"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 feature-1-wrap flex-md-column order-lg-1">
        <p>Dr. Fadhel Kaboub is Assistant Professor of economics at Denison University (OH) and Research Associate at the John F. Kennedy School of Government at Harvard University (MA), Levy Economics Institute of Bard College (NY), the Center for
          Full Employment and Price Stability (MO), and the International Economic Policy Institute (Ontario, Canada). He has taught at Drew University (NJ), where he was also co-director of the Wall Street Semester Program; the University of
          Missouri–Kansas City (UMKC); and Bard College at Simon’s Rock (MA).</p>
        <p>Dr. Kaboub’s research is in the Post Keynesian and Institutionalist tradition in the fields of macroeconomic theory and policy, monetary theory and policy, and economic development, with a particular emphasis on job creation programs and
          social justice through full employment. His recent work focuses on the Political Economy of the Uprisings in the Middle East.</p>
        <p>Dr. Kaboub's regional expertise is on the economies of the United States and the Middle East and North Africa (especially Tunisia). His work has been published in the Journal of Economic Issues, Review of Radical Political Economics,
          Review of Social Economy, International Journal of Political Economy, and International Labour Review. He is also a regular contributor to the social justice column published by Street Speech, a newspaper of the Columbus Coalition for the
          Homeless.</p>
        <a href="/about"> <button class="btn btn-primary" type="button" name="button">Know More</button></a>
        <a href="https://denison.edu/people/fadhel-kaboub"> <button class="btn btn-primary" type="button" name="button">Denison</button></a>
        <a href="http://www.global-isp.org/president/"> <button class="btn btn-primary" type="button" name="button">GISP</button></a>
      </div>

    </div>
  </div>
</div>

<!-- Media Appearance -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients section-bg">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-7">
        <h2 class="section-title text-center" stu>As appeared in</h2>
      </div>
    </div>
    <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images/media/blb.png" class="img-fluid" alt="" data-aos="flip-right">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\ft.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\dw.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\tg.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\lm.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\f24.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="#" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\ashnews.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\nyt.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\cgtn.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\theweek.svg" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>



    </div>

  </div>
</section><!-- End Clients Section -->


<div class="untree_co-section twitter">
  <div class="container">
    <div class="row text-center justify-content-center mb-5">
      <div class="col-lg-7">
        <h2 class="section-title text-center" style="color: white;">Twitter</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <a class="twitter-timeline" data-lang="en" data-width="450" data-height="700" data-theme="dark" href="https://twitter.com/FadhelKaboub?ref_src=twsrc%5Etfw">Tweets by FadhelKaboub</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>


<div class="untree_co-section testimonial-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2 class="section-title text-center mb-5">Quotes by Kaboub</h2>

        <div class="owl-single owl-carousel no-nav">
          <div class="testimonial mx-auto">
            <blockquote>
              <p>Quote 1</p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p>Quote 2</p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p>Quote 3</p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-6">
        <h2 class="section-title text-center mb-3">Recent Works</h2>
      </div>
    </div>
    <div class="container">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" style="background-image: url('../images/blog/tunisia.jpg');">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Why Tunisia’s Promise of Democracy Struggles to Bear Fruit</h1>
          <p class="lead my-3">The revolution of 2011 ousted a dictator and set off the Arab Spring. But then the West overlooked the country’s economic problems, intent on creating a bulwark against Islamist extremism...</p>
          <p class="lead mb-0"><a href="https://www.nytimes.com/2021/07/28/world/africa/tunisia-revolution-democracy.html" style="color: blue;" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>

      <div class="row mb-2 justify-content-center">
        <div class="col-lg-8">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">The Columbus Dispatch</strong>
              <h3 class="mb-0">Ohio has more job openings than workers to fill them</h3>
              <div class="mb-1 text-muted">16 Jan 2022</div>
              <p class="card-text mb-auto">Demand for labor is so strong now that there are more job openings than workers officially listed as unemployed in Ohio and across the U.S. Nationwide, there were 10.6 million...</p>
              <a href="https://www.dispatch.com/story/business/2022/01/16/worker-shortage-ohio-more-job-openings-than-unemployed/9151740002/" style="color: blue;" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="images/blog/ohio.jpeg" class="bd-placeholder-img" width="300" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">The Week</strong>
              <h3 class="mb-0">Why Saudi Arabia needs dollars to kick its oil habit</h3>
              <div class="mb-1 text-muted">18 April 2019</div>
              <p class="mb-auto">The major headline out of Saudi Arabia last month was that the country's big state-owned oil company, Saudi Aramco, bought 70 percent of the country's big state-owned petrochemical company...</p>
              <a href="https://theweek.com/articles/832148/why-saudi-arabia-needs-dollars-kick-oil-habit" style="color: blue;" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="images/blog/saudiarabidollars.jpg" class="bd-placeholder-img" width="300" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="py-5 cta-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-2 text-white">Contact</h2>
        <p class="mb-4 lead text-white text-white-opacity">Let's Connect! Reach out to me</p>
        <p class="mb-0"><a href="/contact" class="btn btn-outline-white text-white btn-md font-weight-bold">Click Here</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
