<%- include('partials/header'); -%>


<div class="background">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Recent Events</h1>
            <p class="text-white">What's happening?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
